In [1]:
import pandas as pd

movies = pd.read_csv("movies.csv")

movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [2]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [3]:
movies.Genre.unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [13]:
grp_genre = movies.groupby("Genre")

genre_count = []

for grp, grp_info in grp_genre:
    cat_dict = {}
    grp_gen = grp_genre.get_group(grp)

    for index,row in grp_gen.iterrows(): # to read the data inside those row and column
        if row["Genre"] not in cat_dict.keys():
            cat_dict[row["Genre"]] = [row["Film"]]
            
        else:
            if row["Film"] not in cat_dict.values():
                cat_dict[row["Genre"]].append(row["Film"])
    genre_count.append(cat_dict)


genre_count

[{'Action': ['Killers']},
 {'Animation': ['WALL-E',
   'Tangled',
   'Gnomeo and Juliet',
   'Gnomeo and Juliet']},
 {'Comdy': ['Made of Honor']},
 {'Comedy': ['Youth in Revolt',
   'You Will Meet a Tall Dark Stranger',
   'When in Rome',
   'What Happens in Vegas',
   "Valentine's Day",
   'The Ugly Truth',
   'The Proposal',
   'The Invention of Lying',
   'The Heartbreak Kid',
   'The Back-up Plan',
   "She's Out of My League",
   'Sex and the City Two',
   'Sex and the City 2',
   'Sex and the City',
   'Penelope',
   'Over Her Dead Body',
   'Our Family Wedding',
   'No Reservations',
   "Nick and Norah's Infinite Playlist",
   'Miss Pettigrew Lives for a Day',
   'Marley and Me',
   'Mamma Mia!',
   'Mamma Mia!',
   'Love & Other Drugs',
   'Life as We Know It',
   'License to Wed',
   'Letters to Juliet',
   'Leap Year',
   'Knocked Up',
   'Just Wright',
   "It's Complicated",
   'I Love You Phillip Morris',
   'High School Musical 3: Senior Year',
   "He's Just Not That Into You",
   'Good Luck Chuck',
   'Going the Distance',
   'Ghosts of Girlfriends Past',
   'Four Christmases',
   'Enchanted',
   'Beginners',
   '27 Dresses']},
 {'Drama': ['Water For Elephants',
   'The Twilight Saga: New Moon',
   "The Time Traveler's Wife",
   'The Duchess',
   'Remember Me',
   'Rachel Getting Married',
   'Not Easily Broken',
   'My Week with Marilyn',
   'Love Happens',
   'Fireproof',
   'Dear John',
   'A Serious Man',
   'A Dangerous Method']},
 {'Fantasy': ['The Curious Case of Benjamin Button']},
 {'Romance': ['Zack and Miri Make a Porno',
   'Waitress',
   'Waiting For Forever',
   "Tyler Perry's Why Did I get Married",
   'Twilight: Breaking Dawn',
   'Twilight',
   'Something Borrowed',
   'P.S. I Love You',
   'One Day',
   "New Year's Eve",
   'Music and Lyrics',
   'Monte Carlo',
   'Jane Eyre']},
 {'Romence': ['Midnight in Paris']},
 {'comedy': ['(500) Days of Summer']},
 {'romance': ['Across the Universe']}]

In [14]:
for row in genre_count:
    for  key,value in row.items():
        count = 0
        if isinstance(value, list): # To check whether the value is list form.
            for v in value:
                count +=1
            row[key] = count 
genre_count

[{'Action': 1},
 {'Animation': 4},
 {'Comdy': 1},
 {'Comedy': 41},
 {'Drama': 13},
 {'Fantasy': 1},
 {'Romance': 13},
 {'Romence': 1},
 {'comedy': 1},
 {'romance': 1}]

In [6]:
print(movies["Audience score %"])

0     70
1     52
2     35
3     44
4     72
      ..
72    84
73    64
74    89
75    71
76    81
Name: Audience score %, Length: 77, dtype: int64

In [15]:
grp_genre = movies.groupby("Genre")

audience_score = []

for grp, grp_info in grp_genre:
    cat_dict = {}
    grp_gen = grp_genre.get_group(grp)

    for index,row in grp_gen.iterrows(): # to read the data inside those row and column
        if row["Genre"] not in cat_dict.keys():
            cat_dict[row["Genre"]] = [row["Audience score %"]]
            
        else:
            if row["Audience score %"] not in cat_dict.values():
                cat_dict[row["Genre"]].append(row["Audience score %"])
    audience_score.append(cat_dict)


audience_score

[{'Action': [45]},
 {'Animation': [89, 88, 52, 52]},
 {'Comdy': [61]},
 {'Comedy': [52,
   35,
   44,
   72,
   54,
   68,
   74,
   47,
   41,
   47,
   60,
   49,
   49,
   81,
   74,
   47,
   49,
   64,
   67,
   70,
   77,
   76,
   76,
   55,
   62,
   55,
   62,
   49,
   83,
   58,
   63,
   57,
   76,
   60,
   61,
   56,
   47,
   52,
   80,
   80,
   71]},
 {'Drama': [72, 78, 65, 68, 70, 61, 66, 84, 40, 51, 66, 64, 89]},
 {'Fantasy': [81]},
 {'Romance': [70, 67, 53, 47, 68, 82, 48, 82, 54, 48, 70, 50, 77]},
 {'Romence': [84]},
 {'comedy': [81]},
 {'romance': [84]}]

In [16]:
for row in audience_score:
    for  key,value in row.items():
        average = 0 
        if isinstance(value, list): # To check whether the value is list form.
            average = round(sum(value) / len(value),2)
            row[key] = average
            
audience_score

[{'Action': 45.0},
 {'Animation': 70.25},
 {'Comdy': 61.0},
 {'Comedy': 60.98},
 {'Drama': 67.23},
 {'Fantasy': 81.0},
 {'Romance': 62.77},
 {'Romence': 84.0},
 {'comedy': 81.0},
 {'romance': 84.0}]